%h1 Вакансии
%hr.btn-danger

-if @vacancies
  - @vacancies.each do |company_vacancy|
    %h3= company_vacancy.title
    %p= company_vacancy.salary
    %br
    = link_to 'Подробнее', company_vacancy_path(company_vacancy.company, company_vacancy), class: 'btn btn-default'
    %hr
  %br
- else
  %p На данный момент нет актуальных вакансий
