- if @company_contact
  - if @company_contact.phone
    %p
      %b Телефон:
      = @company_contact.phone
  - if @company_contact.adress
    %p
      %b Адрес:
      = @company_contact.adress
  - if @company_contact.fio
    %p
      %b Имя контактного лица:
      = @company_contact.fio

  = link_to 'Редактировать', edit_company_contact_path(@company_contact), class: 'btn btn-default'

- else
  %p Контактная информация не добавлена