<p>Добрый день, <%= @resource.email %>!</p>

<p>С вашего аккаунта был отправлен запрос на смену пароля на сайте greatgraduate.ru, вы можете это сделать, перейдя по ссылке ниже:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не отправляли запрос на смену пароля, просто проигнорируйте данное сообщение.</p>
<p>Ваш пароль не измениться, пока вы не перейдете по ссылке и не измените его сами.</p>
